{
  "gitlab_workhorse": {
    "secret_token": "{{ gitlab_secrets_workhorse_token }}"
  },
  "gitlab_shell": {
    "secret_token": "{{ gitlab_secrets_shell_token }}"
  },
  "gitlab_rails": {
    "secret_key_base": "{{ gitlab_secrets_rails_key_base }}",
    "db_key_base": "{{ gitlab_secrets_rails_db_key_base }}",
    "otp_key_base": "{{ gitlab_secrets_rails_otp_key_base }}",
    "encrypted_settings_key_base": "{{ gitlab_secrets_rails_encrypted_settings_key_base }}"
    "openid_connect_signing_key": "{{ gitlab_secrets_rails_openid_connect_signing_key }}"
    "ci_jwt_signing_key": "{{ gitlab_secrets_rails_ci_jwt_signing_key }}"
  },
  "gitlab_pages": {
    "gitlab_secret": {% if gitlab_secrets_pages_secret | length %}"{{ gitlab_secrets_pages_secret }}"{% else %}null{% endif %},
    "gitlab_id": {% if gitlab_secrets_pages_id | length %}"{{ gitlab_secrets_pages_id }}"{% else %}null{% endif %},
    "auth_secret": {% if gitlab_secrets_pages_auth_secret | length %}"{{ gitlab_secrets_pages_auth_secret }}"{% else %}null{% endif %},
    "api_secret_key": {% if gitlab_secrets_pages_api_secret_key | length %}"{{ gitlab_secrets_pages_api_secret_key }}"{% else %}""{% endif %}
  },
  {% if gitlab_kas_api_key is defined %}
  "gitlab_kas": {
    "api_secret_key": "{{ gitlab_secrets_kas_api_key }}"
  },
  {% endif %}
  "grafana": {
    "secret_key": "{{ gitlab_secrets_grafana_secret_key }}",
    "gitlab_secret": "{{ gitlab_secrets_grafana_gitlab_secret }}",
    "gitlab_application_id": "{{ gitlab_secrets_grafana_gitlab_application_id }}",
    "admin_password": "{{ gitlab_secrets_grafana_admin_password }}",
    "metrics_basic_auth_password": {% if gitlab_secrets_grafana_metrics_basic_auth_password | length %}"{{ gitlab_secrets_grafana_metrics_basic_auth_password }}"{% else %}null{% endif %}
  },
  "registry": {
    "http_secret": "{{ gitlab_secrets_registry_http_secret }}",
    "internal_certificate": "{{ gitlab_secrets_registry_internal_certificate }}",
    "internal_key": "{{ gitlab_secrets_registry_internal_key }}"
  },
  "letsencrypt": {
    "auto_enabled": {% if gitlab_secrets_letsencrypt_auto_enabled | length %}"{{ gitlab_secrets_letsencrypt_auto_enabled }}"{% else %}null{% endif %}
  },
  "mattermost": {
    "email_invite_salt": "{{ gitlab_secrets_mattermost_invite_salt }}",
    "file_public_link_salt": "{{ gitlab_secrets_mattermost_file_public_link_salt }}",
    "sql_at_rest_encrypt_key": "{{ gitlab_secrets_mattermost_sql_at_rest_encrypt_key }}"
  },
  "postgresql": {
    "internal_certificate": "{{ gitlab_secrets_postgresql_internal_certificate }}",
    "internal_key": "{{ gitlab_secrets_postgresql_internal_key }}" 
  }
}
